@using TurnoProyecto.Helper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TurnoProyecto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TurnoProyecto.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TurnoProyecto</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                      <li class="nav-item">
                            <div class="btn-group">
                             <a class="nav-link text-dark  dropdown-toggle" data-bs-toggle="dropdown" asp-area="" asp-controller="Prof" asp-action="Index">Turno</a>
                             @if(!User.Identity.IsAuthenticated){
                                   <div class="dropdown-menu">
                            @Html.ActionLink("Login", "IndexS", "Login", new { }, new  { role="button", @class="dropdown-item btn-light"})
                            
                            </div>
                             }else{
                                 @if (User.Identity.IsAuthenticated && SessionHelper.GetRole(User) == "Usuario")
                                 {
                                      <div class="dropdown-menu">
                                 @Html.ActionLink("Turno", "CCDTU", "Turno", new  { userid = SessionHelper.GetNameIdentifier(User) }, new {target="_blank", @class="dropdown-item btn-light", role="button"})
                                 </div>
                                 }
                                
                                 
                             }
                          
                        </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                             <a class="nav-link text-dark  dropdown-toggle" data-bs-toggle="dropdown" asp-area="" asp-controller="Prof" asp-action="Index">Profesional</a>
                             @if(!User.Identity.IsAuthenticated){
                                   <div class="dropdown-menu">
                            @Html.ActionLink("Login", "Index", "Login", new { }, new  { role="button", @class="dropdown-item btn-light"})
                            
                            </div>
                             }
                             else{
                                 @if (User.Identity.IsAuthenticated && SessionHelper.GetRole(User) == "Profesional")
                                 {
                                      <div class="dropdown-menu">
                                 @Html.ActionLink("Crear Turno", "Añadir", "Turno", new  { userid = SessionHelper.GetNameIdentifier(User) }, new { @class="dropdown-item btn-light", role="button"})
                                 </div>
                                 }
                                 
                                 
                             }
                          
                        </div>
                        </li>
                        <li>
                        @if(User.Identity.IsAuthenticated && SessionHelper.GetRole(User) =="Administrador"){
                        <li class="nav-item">
                            <div class="btn-group">
                             <a class="nav-link text-dark  dropdown-toggle" data-bs-toggle="dropdown" asp-area="" asp-controller="Prof" asp-action="Index">Administrador</a>
                             <div class="dropdown-menu">
                                 @Html.ActionLink("Registrar Admin", "Index", "Admin", new  {  }, new { @class="dropdown-item btn-light", role="button"})
                                 </div>
                                 <div class="dropdown-menu">
                                 @Html.ActionLink("Reg Profesional", "Index", "Prof", new  {  }, new { @class="dropdown-item btn-light", role="button"})
                                 </div>
                                 <div class="dropdown-menu">
                                 @Html.ActionLink("Registrar User", "Index", "User", new  {  }, new { @class="dropdown-item btn-light", role="button"})
                                 </div>

                        </div>
                           
                        </li>
                          }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="d-flex">
                            <a class="nav-link text-dark btn-danger" asp-area="" asp-controller="Login" asp-action="Logout">Cerrar Session</a>
                        </div>
                    }
                     
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (User.Identity.IsAuthenticated)
            {
                <h1>@SessionHelper.GetRole(User)</h1>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TurnoProyecto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
