@model List<NumeroDeTurnoModelDatos>
@{
    ViewData["Title"] = "Consultar";
}
@Html.ActionLink("MisTurnos", "Miturno", "Turno", new  {  userid = ViewBag.datosAux}, new{ role="button", @class="btn btn-danger"} )

    <table class="table table-striped table-bordered">
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Profesion</th>
            <th> Dia y hora de atencion</th>
            <th>Dia y hora de finalizacion</th>
            <th>Cantidad de turno</th> 
            <th>Turno reservado</th>
            <th>A. turno</th> 
             
        </thead>
        <tbody>
             @foreach (var item in @Model){
        <tr>
            <td>@item.turnoModelDatos.UserModelDatos.nombre</td>
            <td>@item.turnoModelDatos.UserModelDatos.apellido</td>
            <td>@item.turnoModelDatos.UserModelDatos.Profesion</td>
            <td>@item.turnoModelDatos.aturno</td>
            <td>@item.turnoModelDatos.fturno</td>
            <td>@item.Disponible</td>
            <td>@item.Ocupados</td>
            <td> @Html.ActionLink("Añadir", "Asignar", "Turno", new  {  turnoid = @item.turnoModelDatos.turnoid , userid = ViewBag.datosAux}, new{ role="button", @class="btn btn-danger"} )</td>
           

      
        </tr>
       
        
        
    }
        </tbody>
    </table>